@using System.Web.Optimization
@model Mvc4.WebApi.Models.StoreViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="storeGrid"></div>

<section data-bind="visible: showDetail" style="display: none">

    @{ Html.EnableClientValidation(); }

    @using (Html.BeginForm("StoreApi/Post", "api", FormMethod.Post, new { id = "storesForm" }))
    {

        <input class="k-button storeButton" type="submit" value="Save" />

        <input class="k-button storeButton" data-bind="click: onDeleteClick" type="button" value="Delete" />

        <div>
            <div class="storeLine">
                <span class="storeLabels">Retailer</span>
                <span>
                    @Html.TextBoxFor(model => model.RetailerId, new { @id = "retailer" })
                </span>
            </div>
            <div>@Html.ValidationMessageFor(model => model.RetailerId)</div>
            <div class="storeLine">
                <span class="storeLabels">Store Id</span>
                <span>
                    @Html.TextBoxFor(model => model.Id, new { @class = "k-textbox", data_bind = "value: id" })
                </span>
            </div>
            <div class="storeLine">@Html.ValidationMessageFor(model => model.Id)</div>
            <div class="storeLine">
                <span class="storeLabels">Name</span>
                <span>
                    @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox", data_bind = "value: name" })
                </span>
            </div>
            <div class="storeLine">@Html.ValidationMessageFor(model => model.Name)</div>
            <div class="storeLine">
                <span class="storeLabels">Number</span>
                <span>
                    @Html.TextBoxFor(model => model.Number, new { @class = "k-textbox", data_bind = "value: number" })
                </span>
            </div>
            <div class="storeLine">@Html.ValidationMessageFor(model => model.Number)</div>
            <div class="storeLine">
                <span class="storeLabels">City</span>
                <span>
                    @Html.TextBoxFor(model => model.City, new { @class = "k-textbox", data_bind = "value: city" })
                </span>
            </div>
            <div class="storeLine">@Html.ValidationMessageFor(model => model.City)</div>
            <div class="storeLine">
                <span class="storeLabels">State</span>
                <span>
                    @Html.TextBoxFor(model => model.State, new { @class = "k-textbox", data_bind = "value: state" })
                </span>
            </div>
            <div class="storeLine">@Html.ValidationMessageFor(model => model.State)</div>
            <div class="storeLine">
                <span class="storeLabels">District</span>
                <span>
                    @Html.TextBoxFor(model => model.OrgLevelId, new { @id = "orgLevelId" })
                </span>
            </div>
            <div class="storeLine">@Html.ValidationMessageFor(model => model.OrgLevelId)</div>
            <div class="storeLine">
                <span class="storeLabels">Territory</span>
                <span>
                    @Html.TextBoxFor(model => model.SubOrgLevelId, new { @id = "subOrgLevelId" })
                </span>
            </div>
            <div class="storeLine">@Html.ValidationMessageFor(model => model.SubOrgLevelId)</div>
        </div>
    }

</section>


@Scripts.Render("~/Scripts/store.javascript")

<script type="text/javascript">
    (function () {
        var storeViewModel = new StoreViewModel();
        storeViewModel.setObservables();
        $('#storesForm').ajaxForm({
            dataType: 'json',
            iframe: false,
            success: storeViewModel.onStoreSuccess,
            type: 'POST'

        });
        $('#orgLevelId').kendoComboBox({
            change: function () {
                var subOrgLevelComboBoxData = $('#subOrgLevelId').data('kendoComboBox');
                subOrgLevelComboBoxData.value(null);
                subOrgLevelComboBoxData.dataSource.read();
            },
            dataTextField: 'Value',
            dataValueField: 'Key',
            dataSource: {
                type: "json",
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: "api/StoreApi/GetOrgLevels",
                            success: function (result) {
                                options.success(result);
                            },
                            type: "GET"
                        });
                    }
                }
            },
            filter: "contains",
            suggest: true
        });
        storeViewModel.orgLevelCombo = $('#orgLevelId').data('kendoComboBox');
        $('#retailer').kendoComboBox({
            dataTextField: 'Value',
            dataValueField: 'Key',
            dataSource: {
                type: "json",
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: "api/StoreApi/GetRetailers",
                            success: function (result) {
                                options.success(result);
                            },
                            type: "GET"
                        });
                    }
                }
            },
            filter: "contains",
            suggest: true
        });
        storeViewModel.retailerIdCombo = $('#retailer').data('kendoComboBox');
        $("#storeGrid").kendoGrid({
            autoBind: true,
            change: function() {
                storeViewModel.onStoreGridChanged();
            },
            filterable: false,
            groupable: false,
            height: "300px",
            pageable: true,
            resizeable: true,
            selectable: "single, row",
            sortable: {
                mode: "single",
                allowUnsort: false
            },
            dataSource: {
                pageSize: 30,
                type: "json",
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: "api/StoreApi/GetStores",
                            success: function (result) {
                                options.success(result);
                            },
                            type: "GET"
                        });
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            RetailerId: { type: "number" },
                            RetailerName: { type: "string" },
                            Name: { type: "string" },
                            Number: { type: "number" },
                            City: { type: "string" },
                            State: { type: "string" },
                            OrgLevelName: { type: "string" },
                            OrgLevelId: { type: "string" },
                            SubOrgLevelName: { type: "string" },
                            SubOrgLevelId: { type: "string" }
                        }
                    }
                }
            },
            columns: [{
                field: "RetailerName",
                title: "Retailer Name",
                    width: "120px"
                },
                {
                field: "Id",
                title: "Store Id",
                    width: "70px"
                },
                {
                    field: "Name",
                    title: "Name",
                    width: "180px"
                }, {
                    field: "Number",
                    title: "Number",
                    width: "90px"
                }, {
                    field: "City",
                    title: "City",
                    width: "190px"
                }, {
                    field: "State",
                    title: "State",
                    width: "60px"
                }, {
                    field: "OrgLevelName",
                    title: "District",
                    width: "120px"
                }, {
                    field: "SubOrgLevelName",
                    title: "Territory",
                    width: "120px"
                }]
        });
        storeViewModel.storeGridData = $('#storeGrid').data('kendoGrid');
        $('#subOrgLevelId').kendoComboBox({
            autoBind: false,
            cascadeFrom: "orgLevelId",
            dataTextField: "Value",
            dataValueField: "Key",
            dataSource: {
                serverFiltering: true,
                type: "json",
                transport: {
                    read: function (options) {
                        var postData = {};
                        postData.OrgLevelId = $('#orgLevelId').data('kendoComboBox').value();
                        $.ajax({
                            data: postData,
                            dataType: 'json',
                            url: "api/StoreApi/GetSubOrgLevels",
                            success: function (result) {
                                options.success(result);
                            },
                            type: "GET"
                        });
                    }
                }
            },
            filter: "contains",
            suggest: true
        });
        storeViewModel.subOrgLevelCombo = $('#subOrgLevelId').data('kendoComboBox');
    })();
    
    
</script>